<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-log2c-app-update" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova Android Update</name>
    <description>
        Cordova / Phonegap plugin for android auto update.
    </description>
    <engines>
        <engine name="cordova" version=">=7.0.0"/>
    </engines>
    <js-module name="Cordova Android Update" src="www/index.js">
        <clobbers target="cordova.plugin.AndroidUpdate" />
    </js-module>
</plugin>
