<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-log2c-app-update" version="1.1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Cordova App Update</name>
    <description>
        Cordova / Phonegap plugin auto update.
    </description>
    <engines>
        <engine name="cordova" version="&gt;=7.0.0" />
    </engines>
    <js-module name="AppUpdate" src="www/index.js">
        <clobbers target="AppUpdate" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AppUpdate">
                <param name="android-package" value="com.log2c.cordova.plugin.AppUpdate" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/AppUpdate.java" target-dir="src/com/log2c/cordova/plugin/appupdate" />
        <source-file src="src/android/UpdateInfoModel.java" target-dir="src/com/log2c/cordova/plugin/appupdate" />
        <source-file src="src/android/AdvanceUpdateConfig.java" target-dir="src/com/log2c/cordova/plugin/appupdate" />
        <framework src="build-extras.gradle" custom="true" type="gradleReference" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AppUpdate">
                <param name="ios-package" value="AppUpdatePlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppUpdatePlugin.h" />
        <source-file src="src/ios/AppUpdatePlugin.m" />
    </platform>
</plugin>